{% import '@share/templates/macros.twig' as shareMacros %}

{% use '@share/templates/blocks.twig' %}

<!doctype html>
<html lang="{{ attribute(language, 'ISO-639-1') }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
{% block pageTitle %}{{ brand }}{% endblock %}
</title>
{#{ shareMacros.favicon('corporate/favicon'|pathToLocalAsset) }#}
{% block jsFrameworkAssets %}
    {{ parent() }}
{% endblock %}
{# bootsrap may differ between application areas, so it is included into area template #}
<script>
//application level variables
var area = '{{ area }}';
</script>
{% block simplexAssets %}
    {{ parent() }}
{% endblock %}
{% block head %}
{% endblock %}
{% block headForSimplex %}
<!-- application -->
<link rel="stylesheet" href="{{ 'simplex/css/application.min.css'|pathToLocalAsset }}">
{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}" id="{% block bodyId %}{{ 'body-%s'|format(action) }}{% endblock %}">
{% block body %}
{% endblock %}
</body>
</html>
