{% import '@share/templates/macros.twig' as shareMacros %}

{% use '@share/templates/blocks.twig' %}

<!doctype html>
<html lang="{{ attribute(language, 'ISO-639-1') }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
{% block pageTitle %}{{ brand }}{% endblock %}
</title>
{{ shareMacros.favicon('/public/local/corporate/favicon') }}
{% block jsFrameworkAssets %}
    {{ parent() }}
{% endblock %}
{# bootsrap may differ between application areas, so it is included into area template #}
<script>
//application level variables
var area = '{{ area }}';
</script>
{% block simplexAssets %}
    {{ parent() }}
{% endblock %}
{% block head %}
{% endblock %}
{% block headForSimplex %}
<!-- application -->
<link rel="stylesheet" href="public/local/simplex/css/application.min.css">
{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}" id="{% block bodyId %}{{ 'body-%s'|format(action) }}{% endblock %}">
{% block body %}
{% endblock %}
</body>
</html>
