{% macro displaySortableHeader(context, fieldName, align) %}
    {% set fieldsSorting = attribute(attribute(context.areaCookie, context.subject), 'sorting') ?? null %}
    {% set sorting = null %}
    {% for fieldSorting in fieldsSorting %}
        {% if fieldSorting[0] == fieldName %}
            {% set sorting = fieldSorting %}
        {% endif %}
    {% endfor %}
    {# field sorting is not set  #}
    {% if sorting == null %}
        {% set buttonClass = 'icon-erp-sort text-muted' %}
        {% set reverseDirection = 'asc' %}
    {% else %}
    {# field sorting is set  #}
        {% set direction = sorting[1]|lower %}
        {% set buttonClass = 'icon-erp-triangle-%s'|format(direction == 'asc' ? 'down' : 'up') %}
        {% set reverseDirection = direction == 'asc' ? 'desc' : 'asc' %}
    {% endif %}
    {% set buttonTitle = attribute(context.tableLabels, 'sort-%s'|format(reverseDirection)) %}
<th>
    <div class="d-flex align-items-center align-content-center">
<form action="" method="post" class="w-100{% if align %} text-{{ align }}{% endif %}">
            <input type="hidden" name="modifier" value="sort">
            <input type="hidden" name="field" value="{{ fieldName }}">
            <input type="hidden" name="direction" value="{{ reverseDirection }}">
            <button type="submit" title="{{ buttonTitle }}" class="font-weight-bold">{{ attribute(attribute(attribute(context.labels, context.subject), 'fields'), fieldName) }}</button>
            <button type="submit" class="{{ buttonClass }}" title="{{ buttonTitle }}"></button>
        </form>
    </div>
</th>
{% endmacro %}

{% macro displayMoveRecordCell(context) %}
    up - down
{% endmacro %}
