{% macro displaySortableHeader(context, fieldName, align, label) %}
    {% set fieldsSorting = attribute(attribute(context.areaCookie, context.subject), 'sorting') ?? null %}
    {% set sorting = null %}
    {% for fieldSorting in fieldsSorting %}
        {% if fieldSorting[0] == fieldName %}
            {% set sorting = fieldSorting %}
        {% endif %}
    {% endfor %}
    {# field sorting is not set  #}
    {% if sorting == null %}
        {% set buttonClass = 'icon-erp-sort text-muted' %}
        {% set reverseDirection = 'asc' %}
    {% else %}
    {# field sorting is set  #}
        {% set direction = sorting[1]|lower %}
        {% set buttonClass = 'icon-erp-triangle-%s'|format(direction == 'asc' ? 'down' : 'up') %}
        {% set reverseDirection = direction == 'asc' ? 'desc' : 'asc' %}
    {% endif %}
    {% set buttonTitle = getLabel('table', 'sort-%s'|format(reverseDirection)) %}
<th>
    <form action="" method="post" class="w-100{% if align %} text-{{ align }}{% endif %}">
        <input type="hidden" name="modifier" value="sort">
        <input type="hidden" name="field" value="{{ fieldName }}">
        <input type="hidden" name="direction" value="{{ reverseDirection }}">
        <div class="d-flex align-items-start align-content-center">
            <label class="font-weight-bold">{{ label ?? getLabel(context.subject, 'fields', fieldName) }}</label>
            <button type="submit" class="{{ buttonClass }}" title="{{ buttonTitle }}"></button>
        </div>
    </form>
</th>
{% endmacro %}

{% macro displayMoveRecordCell(context) %}
    up - down
{% endmacro %}

{% macro displayRecordActionLink(actionProperties, actionLabel, record) %}
    {% set allowed = true %}
    {% if actionProperties.conditions is defined %}
        {% for conditionField in actionProperties.conditions %}
            {% if attribute(record, conditionField) == false %}
                {% set allowed = false %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if allowed %}
        {% set route = actionProperties.routeFromSubject is defined ? buildRouteToActionFromRoot(actionProperties.routeFromSubject) : actionProperties.route %}
    <a
        href="{{ parseRecordActionRoute(route, record) }}"
        {% if actionProperties.linkClass is defined  %} class="{{ actionProperties.linkClass }}"{% endif %}
    {% if actionProperties.target is defined  %} target="{{ actionProperties.target }}"{% endif %}
        title="{{- actionLabel|escape('html_attr') -}}"
    >
        {% if actionProperties.hideLabel is not defined or actionProperties.hideLabel == false %}
            {{- actionLabel -}}
        {% endif %}
    </a>
    {% endif %}
{% endmacro %}
