{% extends '@share/Erp/templates/table.twig' %}

{% import '@share/Erp/templates/macros/table.twig' as tableMacros %}
{# if subject has ancestors and they define record menus #}
{# % import '@share/Erp/templates/macros/navigation.twig' as navigationMacros %#}

{# if subject has ancestors and they define record menus #}
{# % block subjectExtraNavigation %}
  {{ navigationMacros.displayAncestorsSubjectRecordMenus(_context, ancestors) }}
{% endblock %#}

{% block tableHeaders %}
    {# unsortable header #}
    <th>{{ getLabel(subject, 'fields', 'FIELD-NAME') }}</th>
    {# sortable header #}
    {{ tableMacros.displaySortableHeader(_context, 'FIELD-NAME') }}
{% endblock %}

{% for record in records %}
    {% block rowFields %}
    <td>
        <img src="{{ getPublicOutputFilePath('UPLOAD-KEY', 'OUTPUT-KEY', record.UPLOAD-KEY) }}">
    </td>
    <td>{{ record.FIELD-NAME }}</td>
    {# localized field #}
    <td>{{ getLocaleRecordValue(record.nome) }}</td>
    {% endblock %}
{% endfor %}
