{# Builds the menu voices list
@param string logoPath
@param string currentSection to be compared to the voices section property for active voice
#}
{% macro menuVoices(navigation, currentSection) %}
<ul class="navbar-nav justify-content-center">
{% for section, voice in navigation %}
<li class="nav-item d-flex flex-column justify-content-center{{ section == currentSection ? ' active' }}">
       <a class="nav-link" href="{{ voice.url }}"{{ voice.target ? ' target="%s"'|format(voice.target) }}>
       {{ voice.label }}
       </a>
   </li>
{% endfor %}
</ul>
{% endmacro %}

{# Builds a Bootstrap navigation bar horizontal with centered logo above and menu voices vertically and horizontally centered into the collapsasble navbar strip
@param string id: for the root navbar container
@param array navigation: voices, each an object indexed by section (the first level menu voice, for active item selection) with:
    * url
    * label
    * target
@param string logoPath
@param string currentSection to be compared to the voices section property for active voice selection
#}
{% macro horizontalCenteredWithLogo(id, navigation, logoPath, currentSection) %}
    {% import _self as selfMacros %}
<nav class="navbar navbar-expand-sm flex-column navbar-light" id="{{ id }}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ '%s-menu'|format(id) }}" aria-controls="{{ '%s-menu'|format(id) }}" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="{{ logoPath }}" alt="Neutromed" id="logo">
    </a>
    <div class="collapse navbar-collapse" id="{{ '%s-menu'|format(id) }}">
     {{ selfMacros.menuVoices(navigation, currentSection) }}
    </div>
</nav>
{% endmacro %}
