{% extends '@share/Erp/templates/page.twig' %}

{% import '@share/Erp/templates/macros/crudl-form.twig' as crudlFormMacros %}

{% block pageContent %}
    {{ parent() }}
    {% set nextAction = nextAction ?? action|replace({'-form': null})  %}
    {% set nextActionRoute = buildRouteToActionFromRoot(nextAction) %}
    {{nextAction}}
    <form method="post" action="{{ nextActionRoute }}"
    id="save-form" class="needs-validation form-with-validation crudl-form"
    >
    {# primary key field(s) #}
    {{ crudlFormMacros.displayPrimaryKeyInput(_context, model) }}
    {# calling form route (in case form has been called from another form such as when a foreign key record is to be created on the fly) #}
    {% if _POST.callingFormRoute is defined %}
      <input type="hidden" name="callingFormRoute" value="{{ _POST.callingFormRoute }}">
    {% endif %}
    {# model input fields #}
    {% block modelInputs %}
    {% endblock %}
    {# mandatories #}
    <p class="text-muted">
    {% trans "fields marked with * are mandatory" %}
    </p>
    {# buttons #}
    {% block crudlFormButtons %}
        {{ crudlFormMacros.displayDefaultButtons(_context) }}
    {% endblock %}
    </form>
{% endblock pageContent %}
