{% extends '@share/Erp/templates/erp.twig' %}

{% import '@share/Erp/templates/macros/navigation.twig' as navigationMacros %}

{% block head %}
  {{ parent() }}
<script>
$(document).ready(function(){
    /**
    * Sidebar state (open/close) handler on hamburger click
    **/
    $('#sidebar-toggle').click(function(){
        var className = 'closed';
        $('#sidebar').toggleClass(className);
        $('#sidebar-toggle').toggleClass('is-active');
        $('main').toggleClass('wide');
        //var sideBarClosed = $('#sidebar').hasClass(className) ? true : false;
        const sideBarState = $('#sidebar').hasClass(className) ? 0 : 1;
        //setAreaCookie(area,  'sideBarClosed', sideBarClosed)
        $.get(
          '{{ '/%s%s%s/set-side-bar-state?s='|format(
            area,
            routeParameters.lang ? '/%s'|format(routeParameters.lang) : null,
            subject ? '/%s'|format(subject) : null
          ) }}' + sideBarState
        )
    });
  })
</script>
{% endblock head %}

{% set sideBarOpened = (areaCookie.sideBarState is not defined or areaCookie.sideBarState == '1') and (hideSideBar is not defined or hideSideBar is same as(false)) %}

{% block body %}
  {{ parent() }}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap justify-content-start p-0 shadow" id="navbar-top" data-bs-theme="dark">
  {% if hideSideBar == false %}
  <div id="sidebar-hat">
  <button type="button" name="button" class="d-flex align-items-center pf-c-button hamburger hamburger--collapse{% if sideBarOpened %} is-active{% endif %}" id="sidebar-toggle">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    {% if sideBarToggleLabels %}
    <span class="status closed">{{ 'open'|trans }}</span>
    <span class="status opened">{{ 'close'|trans }}</span>
    {% endif %}
  </button>
    </div>
    {% endif %}
    <div class="navbar-brand">
    {% block headerLogo %}
        {{ parent() }}
        {% if logoLink %}
        <a href="{{ logoLink }}">
        {% endif %}
        {% if logoPath %}
        <img src="{{ logoPath }}" alt="{{ brand }}" class="logo">
        {% endif %}
        {% if logoLink %}
        </a>
        {% endif %}
    {% endblock %}
    {% block headerTitle %}
        {{ parent() }}
        {% if hideHeaderTitle is not defined or hideHeaderTitle == false %}
          {% set title = '%s :: %s'|format(brand, area) %}
        <h1 class="h2">
        {{ title }}
        </h1>
        {% endif %}
    {% endblock %}
    </div>
    {% set topNavbarBP = 'md' %}
    <div class="navbar navbar-expand-{{ topNavbarBP }} flex-fill" id="top-navbar-container">
      <div class="container-fluid justify-content-end">
        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#top-navbar" aria-controls="top-navbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" id="top-navbar">
          <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>    
          <div class="offcanvas-body d-flex flex-column flex-{{ topNavbarBP }}-row justify-content-start align-items-end justify-content-{{ topNavbarBP }}-end align-items-{{ topNavbarBP }}-center">
    {% if constant('ENVIRONMENT') == 'development' %}
            <div class="me-3 icon-erp-development text-warning"></div>
    {% endif %}
    {% block headerUser %}
      {{ parent() }}
      {% if hideHeaderUser == false %}
            <div class="mb-3 mb-{{ topNavbarBP }}-0">
              {{ userData.username }}
              <i class="icon-erp-user"></i>
            </div>
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ routeParameters.authentication.urls.signOut }}">
                  {% set text = 'Sign out'|trans %}
                    {{ text }}
                  <i class="icon-erp-sign-out"></i>
                </a>
              </li>
            </ul>
      {% endif %}
    {% endblock %}
          </div>
        </div>
      </div>
    </div>
</nav>

<div class="container-fluid">
    {% if sideBarOpened or hideSideBar == false %}
    {# sidebar #}
  <nav class="bg-dark text-light sidebar{% if not sideBarOpened %} closed{% endif %}" id="sidebar">
        <div class="sidebar-sticky">
      {#
        customSideBarMenu is an array (it can be set into area template) whose elements are:
        0 => block name
        0 => full path to template that contains block
      #}
      {% if customSideBarMenu %}
        {{ block(customSideBarMenu[0], customSideBarMenu[1]) }}
      {% else %}
          <nav class="nav flex-column" id="navigation-top">
        {% for voiceKey, voiceProperties in navigations.area %}
            {{ navigationMacros.displaySidebarVoice(routeParameters, voiceKey, voiceProperties, areaNavigationLabels, 'navigation-top', 1) }}
        {% endfor %}
          </nav>
      {% endif %}
        </div>
    </nav>
    {% endif %}
    {# main content #}
<main role="main" class="{% if not sideBarOpened or hideSideBar %} wide{% endif %}">
    {% block subjectHeader %}
    {% endblock %}
    {% block pageContent %}
    {% endblock %}
    </main>
</div>
{% endblock %}
