{% extends '@share/Erp/templates/frame.twig' %}

{% import '@share/Erp/templates/macros/navigation.twig' as navigationMacros %}

{% block subjectHeader %}
    {% if displayBreadcrumb is not defined or displayBreadcrumb == true  %}
    <nav aria-label="breadcrumb" class="my-3">
        <ol class="breadcrumb">
        {% for ancestorKey, ancestor in ancestors %}
            <li class="breadcrumb-item">
                <a href="{{ ancestor.routeBack }}">
                {{- getLabel(ancestorKey, 'subject') }}
                </a>
            </li>
            <li class="breadcrumb-item">
                {{- buildAncestorRecordLabel(ancestorKey) }}
            </li>
        {% endfor %}
            <li class="breadcrumb-item">
                <a href="{{ buildRouteToActionFromRoot('list') }}">
                {{- getLabel(subject, 'subject') }}
                </a>
            </li>
            <li class="breadcrumb-item active text-capitalize" aria-current="page">
        {%- block actionLabel %}{{ getLabel('actions', action) }}{% endblock %}
            </li>
        </ol>
    </nav>
    {% endif %}
    {# model global actions navigation #}
    {{ navigationMacros.displaySubjectGlobalActionsNavigation(_context, navigations.globalActions, globalActionsLabels) }}
    {# subject alerts #}
    {% for severity, alerts in attribute(attribute(areaCookie, subject), 'alerts')|objectToArray %}
        <div class="alert {{ 'alert-%s'|format(severity) }} alert-dismissible fade show" role="alert">
        {% set severityAlerts = [] %}
        {% for alert in alerts %}
            {% set severityAlerts = severityAlerts|merge([getLabel('alerts', alert.code)|formatArray(alert.data)]) %}
        {% endfor %}
        {{ severityAlerts|join('<br>')|raw }}
        <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'Close'|trans }}">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    {{ resetSubjectAlerts() }}
{% endblock %}
