{% extends '@share/Erp/templates/page.twig' %}

{% block head %}
    {{ parent() }}
    <!-- ERP table style -->
    <link rel="stylesheet" href="/public/share/simplex/Erp/css/table.min.css">
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    {% block tableIntro %}
    {% endblock %}
    {% block tableNavBar %}
<nav class="navbar navbar-light bg-light">
        {% block tableFilter %}
        {% set fieldsFilter = attribute(attribute(areaCookie, subject), 'filter') ?? null %}
    <form method="post" action="" class="form-inline">
        <input type="hidden" name="modifier" value="filter">
        <input name="filter" value="{{ fieldsFilter }}" type="search"
        class="form-control form-control-sm mr-sm-2" placeholder="{{ 'Filter'|trans }}" aria-label="{{ 'Filter'|trans }}">
        <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">{{ 'Filter'|trans }}</button>
    </form>
        {% endblock tableFilter %}
</nav>
    {% endblock tableNavBar %}
    {% if records|length %}
<table class="table table-sm table-hover table-responsive-sm erp-table">
    <caption>{{- attribute(modelGlobalActionsNavigationLabels, currentNavigationVoice.modelGlobalActions) -}}</caption>
    <thead class="thead-light">
        <tr>
        {% block tableHeaders %}
        {% endblock %}
    {# record visible actions header #}
        {% if navigations.recordVisibleActions|length %}
        <th colspan="{{ navigations.recordVisibleActions|length }}"></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
    {# init totals #}
    {% set tableTotals = {} %}
    {% for fieldName, field in CRUDLConfig.fields %}
        {% if field.table.total %}
            {% set tableTotals = updateProperty(tableTotals, fieldName, 0) %}
        {% endif %}
    {% endfor %}
    {# ROWS LOOP #}
        {% for record in records %}
        <tr>
            {% block rowFields %}
            {% endblock %}
            {% for voiceKey, voiceProperties in navigations.recordVisibleActions %}
                {% set voiceLabel = parseRecordActionRoute(getLabel('actions', voiceKey), record) %}
            <td class="record-action text-right">
                {% set allowed = true %}
                {% if voiceProperties.conditions is defined %}
                    {% for conditionField in voiceProperties.conditions %}
                        {% if attribute(record, conditionField) == false %}
                            {% set allowed = false %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if allowed %}
                    {% set route = voiceProperties.routeFromSubject is defined ? buildRouteToActionFromRoot(voiceProperties.routeFromSubject) : voiceProperties.route %}
                <a href="{{ parseRecordActionRoute(route, record) }}"{% if voiceProperties.linkClass is defined  %} class="{{ voiceProperties.linkClass }}"{% endif %} title="{{- voiceLabel|escape('html_attr') -}}">
                    {% if voiceProperties.linkClass is not defined  %}
                        {{- voiceLabel -}}
                    {% endif %}
                </a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
            {# totals #}
            {% for fieldName, total in tableTotals %}
                {% set total = attribute(tableTotals, fieldName) + attribute(record, fieldName) %}
                {% set tableTotals = updateProperty(tableTotals, fieldName, total) %}
            {% endfor %}
        {% endfor %}
    </tbody>
    {% if tableTotals is not empty %}
    <tfoot class="thead-light">
        <tr>
        {% block tableFooter %}
        {% endblock %}
    {# record visible actions header #}
        {% if navigations.recordVisibleActions|length %}
        <th colspan="{{ navigations.recordVisibleActions|length }}"></th>
        {% endif %}
        </tr>
    </tfoot>
    {% endif %}
</table>
    {% else %}
<div class="alert alert-info" role="alert">
{% trans 'No records saved' %}
</div>
    {% endif %}
{% endblock pageContent %}
