{% extends '@share/Erp/templates/page.twig' %}

{% import '@share/Erp/templates/macros/navigation.twig' as navigationMacros %}
{% import '@share/Erp/templates/macros/table.twig' as tableMacros %}

{% set searchFields = [] %}
{% for fieldName, fieldConfig in CRUDLConfig.fields %}
  {% if fieldConfig.table.filter %}
    {% set searchFields = searchFields|merge([fieldName]) %}
  {% endif %}
{% endfor %}

{% block head %}
    {{ parent() }}
    {% if searchFields|length %}
      {{ include(getInstanceTemplate(null, 'labels.twig'), {'labels': labels}, with_context = true) }}
    <script type="text/javascript">
      $(document).ready(function() {
        {#% set searchFields = [] %}
        {% for fieldName, fieldConfig in CRUDLConfig.fields %}
          {% if fieldConfig.table.filter %}
            {% set fieldLabel = getLabel(subject, 'fields', fieldName) %}
            {% if fieldLabel is null %}
            alert('{{ 'no label for filter field %s'|format(fieldName)|escape('js') }}')
            {% endif %}
            {% set searchFields = searchFields|merge([getLabel(subject, 'fields', fieldName)]) %}
          {% endif %}
        {% endfor %#}
        {% set fieldsLabels = [] %}
        {% for fieldName in searchFields %}
          {% set fieldLabel = getLabel(subject, 'fields', fieldName) %}
          {% if fieldLabel is null %}
          alert('{{ 'no label for filter field %s'|format(fieldName)|escape('js') }}')
          {% else %}
          {% set fieldsLabels = fieldsLabels|merge([getLabel(subject, 'fields', fieldName)]) %}
          {% endif %}
        {% endfor %}
        //filter info
        $('#default-filter-form-help').popover({
          'trigger': 'focus',
          'title': '{{ 'filter help'|trans|escape('js') }}',
          'html': true,
          'customClass': 'default-filter-form-help',
          'content': '{{
            'separate multiple search terms by spaces
            enclose sentences with double quotes (")
            results will be searched into the following fields: %s 
            results will contain all of the search terms
          '|trans|format(fieldsLabels|join(', '))|nl2br|escape('js') }}'
        })
        //reset sorting
        $('.reset-sorting').click(function() {
          const form = $($(this)[0].form);
          let fi = $(form.children('[name="field"]')[0])
          fi.val('')
          $(this)[0].form.submit()
        })
      })
    </script>
    {% endif %}
{% endblock %}

{% block pageContent %}
    {{ parent() }}
    {% set fieldsFilter = attribute(attribute(areaCookie, subject), 'filter') ?? null %}
    {% block tableIntro %}
    {% endblock %}
    {% block tableNavBar %}
<nav class="navbar navbar-light bg-light justify-content-start" id="list-navbar">
      {% block tableFilter %}
  <div>
    {% if searchFields|length %}
    <form method="post" action="" class="" id="default-filter-form">
      <input type="hidden" name="modifier" value="filter">
      <div class="row">
        <div class="col-md-auto">
          <a tabindex="0" class="icon-erp-help me-1 text-secondary" id="default-filter-form-help" role="button" data-toggle="popover"></a>
        </div>
        <div class="col">
          <div class="input-group">
              <input name="filter" value="{{ fieldsFilter }}" type="search"
          class="form-control form-control-sm" placeholder="{{ 'Filter'|trans }}" aria-label="{{ 'Filter'|trans }}">
              <button class="btn btn-sm btn-outline-warning" type="reset">{{ 'Reset'|trans }}</button>
              <button class="btn btn-sm btn-outline-success" type="submit">{{ 'Filter'|trans }}</button>
          </div>  
        </div>
      </div>
    </form>
    {% endif %}
        {% block tableFilterCaption %}
        {% endblock tableFilterCaption %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#default-filter-form button[type="reset"]').click(function(){
                $($('#default-filter-form input[type="search"]')[0]).attr('value','');
                $('#default-filter-form').submit();
            });
        });
    </script>
  </div>
      {% endblock tableFilter %}
</nav>
    {% endblock tableNavBar %}
    {% if records|length %}
      {% if navigations.bulkActions|length %}
        {% if (_context.model.getConfig().bulkActionsKey ?? _context.model.getConfig().primaryKey) %}
          {% set bulkActionsLabel = 'selected records bulk actions'|trans %}
<form method="post" id="bulk-actions-form" action="" class="form-inline">
    <input type="hidden" name="bulk_action_records_ids" id="bulk_action_records_ids">
    <nav class="navbar navbar-light bg-light justify-content-start w-100">
        <span class="me-3">
          {{ bulkActionsLabel }}:
        </span>
        <div class="btn-group" role="group" aria-label="{{ bulkActionsLabel }}">
          {% for actionKey, actionProperties in navigations.bulkActions %}
            {% set actionLabel = getLabel('actions', actionKey) %}
            <button
                type="submit"
                id="button-{{ actionKey }}"
                class="btn btn-sm btn-outline-secondary"
                data-route="{{ buildRouteToAction(actionProperties) }}"
                {% if actionProperties.noConfirm is not defined or actionProperties.noConfirm is same as false %}
                data-confirm="{{ getLabel('alerts', 'bulk_confirm')|format(actionLabel)|escape('html_attr') }}"
                {% endif %}
                >{{ actionLabel }}</button>
            {% if actionProperties.blank %}
                <script type="text/javascript">
                  $(document).ready(function() {
                    $('#button-{{ actionKey }}').click(function() {
                      $('#bulk-actions-form').attr('target', '_blank')
                    })
                  })
                </script>
            {% endif %}
          {% endfor %}
        </div>
    </nav>
    <div class="w-100 collapse" id="bulk-warning">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ 'you need to select at least one record'|trans }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</form>
        {% else %}
        <div class="alert alert-danger">
        {{ 'For bulk actions to work you must define into model either a primaryKey or a bulkActionsKey property' }}
        </div>
        {% endif %}
      {% endif %}
<table class="{% block tableClass %}table table-sm table-hover table-responsive-sm erp-table{% endblock %}">
    <caption>
      {{- getLabel('table', 'caption')|format(records|length) -}}
      {% if CRUDLConfig.queryLimit %}
      ({{- getLabel('table', 'limit')|format(CRUDLConfig.queryLimit) -}})
      {% endif %}
    </caption>
    <thead class="table-light">
        <tr>
        {% if navigations.bulkActions|length %}
            <th class="align-middle">
                <div>
                    <input type="checkbox" id="toggle-records-ids">
                </div>
            </th>
        {% endif %}
        {% block tableHeaders %}
        {% endblock %}
    {# record visible actions header #}
        {% if navigations.recordVisibleActions|length or navigations.recordHiddenActions|length %}
        <th colspan="{{ navigations.recordVisibleActions|length + (navigations.recordHiddenActions|length ? 1 : 0) }}"></th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
    {# ROWS LOOP #}
    {% block rows %}
    {% endblock %}
    </tbody>
    {# tableTotals is filled if total has been activated for at least one field into subject CRUDL  #}
    {% if tableTotals is not empty %}
    <tfoot class="thead-light">
        <tr>
        {% block tableFooter %}
        {% endblock %}
    {# record visible actions header #}
        {% if navigations.recordVisibleActions|length %}
        <th colspan="{{ navigations.recordVisibleActions|length + (navigations.recordHiddenActions|length ? 1 : 0) }}"></th>
        {% endif %}
        </tr>
    </tfoot>
    {% endif %}
</table>
    {% else %}
<div class="alert alert-secondary h-100 p-5 text-center text-white fs-1" role="alert">
      {% if fieldsFilter %}
        {% trans 'No records match filter criteria' %}
      {% else %}
        {% if CRUDLConfig.queryOnFilter %}
          {% trans 'Use filter to search for records' %}
        {% else %}
          {% trans 'No records saved' %}
        {% endif %}
      {% endif %}
</div>
    {% endif %}
{% endblock pageContent %}
